
body{
    font-family: 'Gloria Hallelujah', cursive;
    background-image: url("./kidInfo/background.jpg");
    color: white;
}


#nextBtn{
    height: 90px;
    width: 70%;
    margin-left: 5%;
    font-size: 40px;
    opacity: 0.3;
    margin-bottom: 40px;
    box-shadow: 10px 10px black;
}

#nameDisplay{
    font-size: 30px;
}

#image{
    height: 250px;
    width: 320px;
}

.sidebar{
    height: 50px;
    /*box-shadow: 0px 10px 0px 10px #373636;*/
    height: auto; /* Full-height: remove this if you want "auto" height */
    width: 120px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
}

.kid{
    height: 80px;
    font-size: 15px;
    border-right: -40px black;
    box-shadow: 5px 5px rgb(41, 41, 41);
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
}

#profile{
    margin-left: 180px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.home{
    height: 30px;
    background-color: transparent;
    margin-right: 30px;
    margin-left: 10px;
    border: transparent;
}

.jumbotron{
    background-color: transparent;
}

/*.btn:hover{
    opacity: 0.8;
}*/



