<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="UTF-8">
    <title>Students At Budanilikantha</title>
 
  <!-- We need to bring in the bootstrap CSS -->
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  <link rel="stylesheet" href="../OldVersion/static/kidInfo/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/reset.css">
  <link rel="stylesheet" href="static/css/style.css">
  


  <!-- This line is money! It points your HTML to the CSS file. -->
  <!-- Notice the "relative" pathway? It matches a file inside our current directory's "assets" folder. Open it to see our style rules. -->

  </head>

  <title>Swechchha Parajuli</title>

  <body>
    <div id="vue-target">
    <nav v-if="!view_intro" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <button class="btn btn-dark home" id = "home-page" v-on:click="show_intro"> Home  </button>
            </li>
            <li>
                <button class="btn btn-dark" id = "showkids-page" v-on:click="show_allkids"> Students Menu</button>
            </li>
            <li class="nav-item dropdown float-right">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" v-on:click="show_kid(kid.id)" v-for="kid in kids" href="#">{{kid.name}} <span v-if="!kid.sponsored" class="reddot"> * </span> </a>
              </div>
            </li>
          </ul>
        </div>
    </nav>
      <!-- VIEW INTRO PAGE -->   
      
      <div v-if="view_intro">
        <div class = " container-fluid">
          <div class = "row">
            <div class= "col-6 centerit">
              <h1>HELP A CHILD</h1>
              <button v-on:click="show_allkids" class="btn arrow">
                <br>
                <br>
                </button>
                
            </div>

            <div class = "col-5 missiondescr border border-dark">
              <p> In 2017 we went to Nepal, where we visited a children’s home that someone from the U.S. had told us about. </p>
                <br>
                <p> During our visit, we realized that the children there were at great risk, because the people looking after them no longer had the means to provide for them. </p>
                <br>
                <p> This stayed in our minds until we came back to the U.S. where we shared our experience among friends and family. 
                  We realized that we had the means to help these children, which is how our story began… </p>
                <br>
                <p> In 2018 we went back to Nepal again, and with the help of one of our relatives we managed to visit Sathya Sai Siksha Sadan, a boarding school that one of our close family members had attended growing up and spoke highly about. </p>
                <br>
                <p> Sathya Sai is run by a very respectable person, and the goal of the school has consistently been to provide quality education as well as teaching its students life lessons and morality.</p>
                <br>
                <p> We were able to gather family members and close friends who were interested in sponsoring some of the children, and we enrolled them into Sathya Sai. </p>
                <br>
                <p> In addition to that, we were also able to set up a coordinator to take care of the kids when they come home for the holidays, and to visit them occasionally to check in and see if their needs are being met. </p>
                <br>
                <p> If you are interested in sponsoring one of these kids, or would like more information click on the paper airplane and it will lead you to the kids!</p>
                <br>
              </div>
            </div>
          </div>
          </div>
    

      <!-- VIEW LIST OF KIDS -->
      <div v-if="view_kids" class="container">
        <div class="row">
          <div class="col-4" v-for="kid in kids">
            <button v-on:mouseover="display_summary(kid.id)" v-on:click="show_kid(kid.id)" id="kidbutton" class="btn btn-light kid" id = "0">{{kid.name}}
              <p v-if="kid.sponsored" class="spons">Sponsored</p>
              <div v-if="d_sum && kid.id == current_kid">
                <span class="display_summary">
                  <br>
                  <br>
                  <p>Age: {{kid.age}}</p>
                  <p>Favourite Food: {{kid.favourite_food}}</p>
                  <p v-if="kid.future_career != ''"> When I grow up, I want to be a {{kid.future_career}}</p>
                    <p v-if="kid.hobby != ''"> Hobby: {{kid.hobby}} </p>
                </span>
              </div>
            </button>
            <br>
          </div>
        </div>
      </div>

      <!-- VIEW INFO OF KID -->

      <div v-if="view_info" class="container">
        <div class="row">
          <div class="col-12" v-for="kid in kids" v-if="kid.id == current_kid">
              <div class="embed-responsive embed-responsive-21by9">  
                <iframe v-if="kid.id == 1" class="embed-responsive-item" src="https://www.youtube.com/embed/YoJOWrCe8B4" id = "videoDisplay" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe> 
                <iframe v-if="kid.id == 2" class="embed-responsive-item" src="https://www.youtube.com/embed/jqEClhF2GZo" id = "videoDisplay" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
                <iframe v-if="kid.id == 3" class="embed-responsive-item" src="https://www.youtube.com/embed/jJtwcYc6yXg" id = "videoDisplay" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
                <iframe v-if="kid.id == 4" class="embed-responsive-item" src="https://www.youtube.com/embed/iYH1Ji3YZBc" id = "videoDisplay" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
                <iframe v-if="kid.id == 5" class="embed-responsive-item" src="https://www.youtube.com/embed/XC5JfCI5Hu0" id = "videoDisplay" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
                <iframe v-if="kid.id == 6" class="embed-responsive-item" src="https://www.youtube.com/embed/wCoWXgv5Yzc" id = "videoDisplay" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
                <iframe v-if="kid.id == 7" class="embed-responsive-item" src="https://youtube.com/embed/Wm7cBx6L8oU" id = "videoDisplay" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
                <iframe v-if="kid.id == 8" class="embed-responsive-item" src="https://www.youtube.com/embed/5K0ymZ_KKq8" id = "videoDisplay" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
                <iframe v-if="kid.id == 9" class="embed-responsive-item" src="https://youtube.com/embed/zuEAOeDWee4" id = "videoDisplay" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
                <iframe v-if="kid.id == 10" class="embed-responsive-item" src="https://youtube.com/embed/I3thiGB_IUc" id = "videoDisplay" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
                <iframe v-if="kid.id == 11" class="embed-responsive-item" src="https://www.youtube.com/embed/LAM67rWkJUU" id = "videoDisplay" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
                <iframe v-if="kid.id == 12" class="embed-responsive-item" src="https://www.youtube.com/embed/17JW-eM87bk" id = "videoDisplay" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
              </div>
              <br>
              <br>
              <div class ="border border-dark">
                 <br>
                  <p>  My name is {{kid.name}}. I am {{kid.age}} years old 
                      and my favourite food is {{kid.favourite_food}}!  
                  </p>
                  <br>
                  <p v-if="kid.future_career != ''"> When I grow up, I want to be a {{kid.future_career}}.
                  <span v-if="kid.hobby != ''"> In my free time, I like to {{kid.hobby}}. </span> </p>
                  <br>
              </div>
            <br>
          </div>
        </div>
      </div>



     
    </div>
  </body>



<!--
 
  <body style = "background-image: url('./kidInfo/background.jpg')">

    <div class="sidebar" style = "background-color: #1f1f1f" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <button class="btn btn-dark home" id = "home-page"> Home </button>
            <button class="btn btn-dark kid" id = "0">Amrit</button>
            <br>
            <button class="btn btn-dark kid" id = "1">Asish</button>
            <br>
            <button class="btn btn-dark kid" id = "2">Kushal</button>
            <br>
            <button class="btn btn-dark kid" id = "3">Laxman</button>
            <br>
            <button class="btn btn-dark kid" id = "4">Manika</button>
            <br>
            <button class="btn btn-dark kid" id = "5">Manisha</button>
            <br>
            <button class="btn btn-dark kid" id = "6">Nishant</button>
            <br>
            <button class="btn btn-dark kid" id = "7">Ranju</button>
            <br>
            <button class="btn btn-dark kid" id = "8">Santosh</button>
            <br>
            <button class="btn btn-dark kid" id = "9">Sudeep</button>
            <br>
            <button class="btn btn-dark kid" id = "10">Susmita</button>
            <br>
            <button class="btn btn-dark kid" id = "11">Tulsi</button>
            <br>
      </div>

      <style>
        .kid{
          background-image: url("/Volumes/G-DRIVE mobile USB-C/nepalKidsProject/kidsDemoSite/kidInfo/navbackground.jpg");
          width: 100%;
          height: 100%;
        }

        .home{
          background-image: url("/Volumes/G-DRIVE mobile USB-C/nepalKidsProject/kidsDemoSite/kidInfo/navbackground.jpg");
        }
      </style>
  
  <br>
  <br> 
    <div class="container-fluid" id = "profile">
      <div class="jumbotron jumbotron-fluid">
          <div class="container">
              <div class="row">
                <div class="col">
                  <div class = "container" id = "nameDisplay">
                    Meet the Students!
                  
                  </div>
                  <br>
                  <div class = "container" id = "profileDisplay">
                    <p class="lead"><img id = "image" src = "./kidInfo/image.jpg" class = "img-thumbnail" ></p>
                    <br>
                    <br>
                    <p id = "profileInfo"> </p>
                  </div>
                </div>
                <div class="col">
                  <div class = "container">
                    <iframe id = "videoDisplay" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <br>
                    <br>
                    <p><a href="./kidInfo/profiles.pdf" download>
                      <img src="" alt="Download Student Info">
                    </a></p>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <button type="button" class="btn btn-dark" id = "nextBtn" >Next &#8594;</button>
    </div>

</body>
--> 


<script src="static/js/sugar.min.js"></script>
<script src="static/js/axios.min.js"></script>
<script src="static/js/vue.js"></script>
<script src="static/js/utils.js"></script> 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="static/js/index.js"></script>

  </html>