
body{
    font-family: 'Gloria Hallelujah';
}


h1{
    color: black;
    font-size: 60px;
}


h2{
    padding-top: 20px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

h4{
    font-size: 10px;
}

.reddot{
    color: red;
}

.spons{
    font-size: 15px;
    color: green;
}

button{
    background-color: transparent;
}

.transparant{
    opacity: 0.0;
}

.missiondescr{
   padding-top: 25px;
   background-color: white;
   opacity: 0.8;

}

.row{
    padding-top: 60px;
}


.arrow{
    background-size: cover;
    transform: rotate(-40deg);
    height: 250px;
    width: 450px;
    background-image: url(../kidInfo/arrow.png);
}

.backbutton{
    background-size: cover;
    margin: -15px;
    height: 150px;
    width: 130px;
    background-image: url(../kidInfo/backarrow.png);
}

.display_summary{
    font-size: small;
}

.transparent{
    opacity: 0.0;
}

.centerit{
    align-items: right;
    padding-top: 200px;
}

#nextBtn{
    height: 90px;
    width: 70%;
    margin-left: 5%;
    font-size: 40px;
    opacity: 0.3;
    margin-bottom: 40px;
    box-shadow: 10px 10px black;
}

#nameDisplay{
    font-size: 30px;
}

#image{
    height: 250px;
    width: 320px;
}

.sidebar{
    height: 50px;
    /*box-shadow: 0px 10px 0px 10px #373636;*/
    height: auto; /* Full-height: remove this if you want "auto" height */
    width: 120px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
}

.kid{
    height: 300px;
    width: 100%;
    font-size: 25px;
    border-right: -40px black;
    box-shadow: 5px 5px rgb(41, 41, 41);
    padding: 6px 8px 6px 16px;
    display: block;
    opacity: 0.7;
}

#profile{
    margin-left: 180px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}



.home{
    height: 30px;
    background-color: transparent;
    margin-right: 30px;
    margin-left: 10px;
    border: transparent;
}

.jumbotron{
    background-color: transparent;
}

#videoDisplay{
    width: 100%;
    background-color: black;
}

.border{
   padding: 10px;
}



.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

 
/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
      }

  .fixed-top{height:150px; font-size: 40px;}
  .topspace{
    padding-top: 100px;}
}
